.country-container{
    border: 2px solid tomato;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.country-container-bg{
    background-color: aqua;
}

.flags{
    height: 200px;
    width: 250px;  
}

.country-btn{
    padding: 10px;
    margin: 10px;
}
.visited-btn{
    padding: 10px;
    background-color: tomato;
}
